/** COLORS **/

:root {
  --clr-white: #FFFFFF;
  --clr-black: #000000;
  --clr-aquamarine-blue: #66e5a8;
  --clr-jade: #00aa58;
  --clr-white-ice: #e5fbf0;
  --clr-caribbean-green: #00d46e;
  --clr-concrete: #F2F2F2;

  --loader-background: rgba(0, 0, 0, .6);
  --box-shadow: rgba(0, 0, 0, 0.05);
  --btn-primary-hover: rgba(102,229,168,.22);
}