@import 'styles/utils/mixins';

.dashboard {
  @include breakpoint(min, width, 960px) {
    height: 100vh;
    overflow: hidden;
  }

  &__form__field {
    margin-bottom: 14px !important;

    &--animated {
      opacity: 0;
      visibility: hidden;
      transform: translateY(10px);
      transition: transform .4s ease-in-out, opacity .4s ease-in-out, visibility .4s ease-in-out;
  
      &:nth-child(2) {
        transition-delay: .2s;
      }
  
      &:nth-child(3) {
        transition-delay: .4s;
      }
  
      &:nth-child(4) {
        transition-delay: .6s;
      }
  
      &-visible {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
    }
  }
}