@import 'styles/utils/mixins';

.section {
  padding: 20px;
  
  &__inner {
    position: relative;
    background-color: var(--clr-white);
    box-shadow: 0 0 16px 16px var(--box-shadow);
    border-radius: 4px;

    &--full-height {
      @include breakpoint(min, width, 960px) {
        height: calc(100vh - 40px);
        overflow: auto;
      }
    }

    &__header {
      padding: 14px 10px;
      border-radius: 4px 4px 0 0;
      background-color: var(--clr-white-ice);

      &__title {
        font-size: 14px;
        margin: 0;
        letter-spacing: 0.5px;
        font-weight: 300;

        @include breakpoint(min, width, 960px) {
          font-size: 18px;
        }
      }
    }

    &__content {
      padding: 10px;

      @include breakpoint(min, width, 960px) {
        padding: 20px;
      }

      &--mobile-inline-blocks {
        @include breakpoint(max, width, 959px) {
          display: flex;
          flex-wrap: wrap;

          > div {
            flex: 1 1 calc(50% - 20px);

            &:nth-child(2n + 1) {
              margin-right: 10px;
            }

            &:nth-child(2n + 2) {
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
}